.input-container {
	position: absolute;
	width: 6em;
	top: -3em;
	left: -1.5em;
	transform: rotate(-90deg);
	@media (min-width: 30rem) {
		left: -1em;
	}
	animation: show 0.3s forwards;
	.input-progress {
		height: 6px;
		background-color: var(--clr-accent);
		width: 50%;
		opacity: 0.7;
		border-radius: var(--br);
		pointer-events: none;
	}

	.input {
		width: 100%;
		height: 6px;
		-webkit-appearance: none;
		border-radius: var(--br);
		background-color: var(--clr-secondary);
		cursor: pointer;
		position: absolute;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: var(--spacer-2);
			height: var(--spacer-2);
			border-radius: 100%;
			background-color: var(--clr-accent);
		}
	}
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
