*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-background: #dfe7ef;
	--clr-primary: #eef3f7;
	--clr-secondary: #acb8cc;
	--clr-accent: #0e185f;

	--spacer-05: 0.25em;
	--spacer-1: 0.5em;
	--spacer-2: 1em;
	--spacer-3: 1.5em;
	--spacer-4: 2em;
	--spacer-5: 2.5em;
	--spacer-6: 3em;
	--br: 1rem;

	--fz-1: 1rem;
	--fz-2: 1.25rem;
	--fz-3: 1.5rem;
	--fz-4: 1.75rem;
	--fz-5: 2rem;
	--fz-6: 2.25rem;
	--fz-7: 2.5rem;
	--fz-8: 3rem;
}

button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--clr-background);
	font-family: 'Fredoka', sans-serif;
}
